fastapi
uvicorn[standard]
sqlalchemy
python-jose[cryptography]
passlib[bcrypt]
python-multipart
pydantic[email]
pymysql
python-dotenv
pytesseract
easyocr
pdf2image
PyMuPDF
Pillow
torch
pandas
numpy
scikit-learn
matplotlib
seaborn
pytest
langgraph
langchain-core
langchain-community
langchain-ollama
langchain-groq
langchain-openai
openai
langchain-google-genai
google-genai
mcp
chromadb
httpx
psutil

