fastapi
uvicorn[standard]
sqlalchemy
python-jose[cryptography]
passlib[bcrypt]
python-multipart
pydantic[email]
pymysql
python-dotenv
pytesseract
easyocr
pdf2image
Pillow
transformers
torch
pandas
numpy
scikit-learn
matplotlib
seaborn
logging
