fastapi
uvicorn[standard]
sqlalchemy
python-jose[cryptography]
passlib[bcrypt]
python-multipart
pydantic[email]
pymysql
python-dotenv
pytesseract
easyocr
pdf2image
Pillow
transformers
torch
pandas
numpy
scikit-learn
matplotlib
seaborn
pytest
langgraph
langchain-core
langchain-community
langchain-ollama
langchain-groq
langchain-openai
openai
mcp
chromadb
httpx

